*{
    margin: 0;
    padding: 0;

}
header{
   padding: 10px;
   background: #4d2a33;
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.logo{
    border: dashed #C88EA7 0.5px;
    padding: 2px;
}
.logo-text{
    font-size: 23px;
    color: #fff;
    font-weight: bold;
}
/* .Lexi{
background: white;
color: #C9627A;
} */
nav ul li{
    list-style: none;
    display: inline-flex;
    margin-left: 25px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
#hero {
    display: flex;
    height: 250px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
    /* background-color: #eb1818; */
    background-image:
    linear-gradient(to right, #99627A, rgba(117, 19, 93, 0.73)),
    url('img1.jpg');
    clip-path: polygon(0 0,0 100%,100% 80%,100% 20%);
    background-color: #ccc;
}
.hero-content h1 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #fff;
}
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-image:linear-gradient(to right, rgba(117, 19, 93, 0.73) 0%, #C88EA7 51%, #99627A 100%);

    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: transform .2s;
    /* border: 0.5px solid #fff; */
}

.cta-button:hover {
    transform: scale(0.9);
    background-image:linear-gradient(to right, #99627A 0%, #C88EA7 51%, rgba(117, 19, 93, 0.73) 100%);
}
